<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <h2 class="title">Welcom to <span>Shopar</span> application</h2>
          <small class="sub-title">It consists of 3 smaller apps:
            <ul>
              <li>The story service, used to simulate a minimalistic WEB API service</li>
              <li>The intrusion detection service, used to monitor the story service and alert when necessary</li>
              <li>The itruder service, used to forward heavyer trafic to the story service</li>
            </ul>
          </small>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
